p {
  color: white;
  font-size: 8vw;
  font-family: 'Rubik', sans-serif;
  margin: 0rem;
  text-transform: uppercase;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}

.line {
  display: flex;
  justify-content: space-between;
}

.group {
  transform: translate(0%, 100%);
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}